.react-datepicker {
    display: flex;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 20px #a5a5a5;
}

.react-datepicker__header {
    /* background-color: #8c61ff !important; */
    
    /* background-color: rgb(82, 95, 112) !important; */
    background-color: #a4abbd !important;
    color: white;
    height: 65px;
    /* height: 36px !important;
    padding: 0 !important;
    
    border: none !important;
    position: relative;
    text-align: center; */
}
.react-datepicker__header--time{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-datepicker__header--time:not(.react-datepicker__header--time--only){
    border-top-left-radius: 0.3rem;
}

.react-datepicker-time__header {
    margin-top: 0;
    color: #ffffff;
    font-weight: normal;
    font-size: 0.944rem;
}

.react-datepicker__time-container{
    border-left: 1px solid #e5e5e5;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
    border-radius: 9999px;
    background-color: #6c717c !important;
    color: #fff;
}

.react-datepicker__day:not([aria-disabled=true]):hover, .react-datepicker__month-text:not([aria-disabled=true]):hover, .react-datepicker__quarter-text:not([aria-disabled=true]):hover, .react-datepicker__year-text:not([aria-disabled=true]):hover{
    border-radius: 9999px;
    background-color: #f0f0f0;
}

.react-datepicker__day-name{
    color: #fff;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected{
    background-color: #6c717c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover{
    background-color: #6c717c;

}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
    border-radius: 9999px;
    background-color: #c7c7c7;
}
