.input_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;

    width: 80%;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.input_label {
    width: 80%;
    height: 22px;

    margin-bottom: 10px;

    font-weight: 600;
    font-size: 16x;
}
